<section id="iot">
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="assets/img/drawiot1.png" alt="Image">
                 
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="assets/img/drawiot2.png" alt="Image">
                 
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->
  
</section>

<section id="about">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3>How you can benefit from IOT</h3>

        </header>

        <div class="row about-cols">

            <div class="col-sm-4" data-aos="fade-up" data-aos-delay="100">
                <div class="about-col shrink">
                    <div class="img">
                        <img src="assets/img/IOTSample.png" alt="" class="img-fluid">
                        <!-- <div class="icon"><i class="ion-ios-speedometer-outline"></i></div> -->
                    </div>
                    <h2 class="title"><a href="#">Who Can Use IoT</a></h2>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>Clinical Trial companies , Analytical companies, Pharma Research firms, Companies where
                            data reading and accuracy plays a vital role.</span>
                    </p>

                    <p class="common">
                        <span><img _ngcontent-c4="" src="assets/img/arrow.png"> </span>
                        <span>IoT+ acts as an platform for the above business verticals to integrate their equipment and
                            acts as a system which automates 30-40% of manual work providing results without
                            errors.</span>
                    </p>
                </div>
            </div>
            <div class="col-sm-4" data-aos="fade-up" data-aos-delay="300">
                <div class="about-col shrink">
                    <div class="img">
                        <img src="assets/img/typissue.png" alt="" class="img-fluid">
                        <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
                    </div>
                    <h2 class="title"><a href="#">Typical Issues</a></h2>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>This is a typical model which is followed by most of the analytical , clinical research
                            and pharma research co’s , Managing Projects/sub-projects.</span>
                    </p>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>Record readings for various instruments participating in project.</span>
                    </p>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>Manage users on who can do which trial/project.</span>
                    </p>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>Generate reports based on readings.</span>
                    </p>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>Often manual readings have chances of errors in terms of , Value, Time of Reading, Missing
                            parameters.</span>
                    </p>
                </div>
            </div>

            <div class="col-sm-4" data-aos="fade-up" data-aos-delay="300">
                <div class="about-col shrink">
                    <div class="img">
                        <img src="assets/img/question.jpg" alt="" class="img-fluid">
                        <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
                    </div>
                    <h2 class="title"><a href="#">Why to use IoT</a></h2>
                    <p class="common">
                        <!-- <span><img src="assets/img/arrow.png"> </span> -->
                        <span>Are you tired of manual workflow, where it involves delays, chances of errors,
                            security?</span>
                    </p>
                    <p class="common">
                        <!-- <span><img src="assets/img/arrow.png"> </span> -->
                        <span>Do you still spend lot of time validating project results?</span>
                    </p>
                    <p class="common">
                        <!-- <span><img src="assets/img/arrow.png"> </span> -->
                        <span>Ever thought what you can do if you can save 25-30% of your time, will it not add to
                            quality?</span>
                    </p>
                    <p class="common">
                        <span><img src="assets/img/arrow.png"> </span>
                        <span>IoT+ allows you and your staff to define parameters that you use for executing a
                            project/trials.So that your staff is alerted when values fed is outside the range and/or
                            parameter.</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
