<div class="form-group col-sm-6" style="margin-top: 150px">
  <div
    id="chartContainer"
    style="height: 370px; width: 100%; margin: auto"
  ></div>
<br>
<br>
  <div
    id="chartContainer1"
    style="height: 300px; width: 100%; margin: auto"
  ></div>
  <br>
  <br>
  <div
    id="chartContainer3"
    style="height: 370px; width: 100%; margin: auto"
  ></div>
  <br>
<br>
  <div
    id="chartContainer4"
    style="height: 370px; width: 100%; margin: auto"
  ></div>
  <br>
<br>
  <div
    id="chartContainer5"
    style="height: 370px; width: 100%; margin: auto"
  ></div>
</div>
