<div class="iot-main-banner web-development-banner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="ml-banner-content">
            <h1 class="text-white">Database Management Solutions</h1>
            <p class="text-white">
                Transform your digital business leveraging our exceptional Database development services. Arka Softwares is a specialized database development company that design, develop and manage all type of data storage.

                Behind every successful digital product, we have a robust database at the backend, which helps to implement and execute the business logic. Our Database engineers are well versed in the development of customized database solutions,
                 that can streamline your business processes, improve operational performance, and optimize competencies.
            </p>
  
            <a
              class="btn btn-primary btn-cyan mt-4"
              href="http://localhost:4200/contact"
              >Connect With Us Now</a
            >
          </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
          <img
            src="assets/img/backendSvg.svg"
            alt="web-development-banner"
            class="backendSvg"
          />
        </div>
      </div>
  
      <!-- ======= Our Offerings Section ======= -->
      <section id="about">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h3 class="text-center" style="color: white">
                Database Technologies
            </h3>
          </header>
          <p style="color: white">
            A backend developer creates code that does relational mapping to retrieve data from a database.
             MySQL, SQL SERVER and PostgreSQL, MongoDB, and Oracle Database are some of the most widely used DBMS. 
             It's crucial to have a good understanding of how they work.
          </p>
          <div class="row about-cols">
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
              <div class="about-col grow">
                <div class="img">
                  <img src="assets/img/3.png" alt="" class="img-fluid" />
                  <!-- <div class="icon"><i class="ion-ios-speedometer-outline"></i></div> -->
                </div>
                <h2 class="title">
                  <a href="#">PostgreSQL </a>   
                </h2>
                <p style="color: white">
                    If you are working on the .NET ecosystem or Microsoft’s Azure Cloud platform, then PostgreSQL server shall be your preferred choice. 
                    Our Database experts are known for building reliable and scalable storage solutions based on PostgreSQL.
                </p>
                <!-- <a class="common" style="color:blue;" (click)="navigatePages('consulting')">more</a> </p> -->
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-col grow">
                <div class="img">
                  <img src="assets/img/4.png" alt="" class="img-fluid" />
                  <!-- <div class="icon"><i class="ion-ios-list-outline"></i></div> -->
                </div>
                <h2 class="title"><a href="#">MS SQL</a></h2>
                <p style="color: white">
                    If you are working on the .NET ecosystem or Microsoft’s Azure Cloud platform, then MS SQL server shall be your preferred choice. Our Database experts are known for building reliable and scalable storage solutions based on MS SQL.
                </p>
                <!-- <a class="common" style="color:blue;" (click)="navigatePages('enterpriseapp')">more</a> </p> -->
              </div>
            </div>
  
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
              <div class="about-col grow">
                <div class="img">
                  <img src="assets/img/1.png" alt="" class="img-fluid" />
                  <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
                </div>
                <h2 class="title">
                  <a href="#">MongoDB</a>
                </h2>
                <p style="color: white">
                    MongoDB is used for modern mobile and web apps mostly developed in JavaScript. 
                    Our seasoned Database experts are known for building stable MongoDB solutions that can capture and store massive real-time unstructured data.
                </p>
                <!-- <a class="common" style="color:blue;" (click)="navigatePages('architecture')">more</a> </p> -->
              </div>
            </div>
  
          
          </div>
        </div>
      </section>
      <!-- End About Us Section -->
    </div>
  </div>
  