<div class="iot-main-banner web-development-banner">
<div class="container">
<div class="row align-items-center">

    <div class="col-lg-6 col-md-12">


        <div class="ml-banner-content">
<h1 class="text-white">Web Development Company</h1>
<p class="text-white"> Sigma Technologies is a full-cycle custom web development company  in India. We design and develop fully customizable, dynamic, intuitive, scalable, and appealing websites for an uninterrupted online experience that connects you to your customers on any browser or device. Being a reliable, portfolio-rich and one-stop solution provider, we are sure your search for a top web development agency in Texas, USA will end here.</p>
      
<a class="btn btn-primary btn-cyan mt-4" href="http://localhost:4200/contact">Talk to Experts</a>
</div>
    </div>
    <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
        <img src="assets/img/sideSVGImage.svg" alt="web-development-banner" class="sideimg">
        
        </div>
</div>

  <!-- ======= Our Offerings Section ======= -->
  <section id="about">
    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h3 class="text-center" style="color: white;">Our Offerings</h3>
      </header>

      <div class="row about-cols">

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col grow">
            <div class="img">
              <img src="assets/img/3.png" alt="" class="img-fluid">
              <!-- <div class="icon"><i class="ion-ios-speedometer-outline"></i></div> -->
            </div>
            <h2 class="title"><a href="#">Our Team </a></h2>
            <p>
                We have a team of the most experienced, certified, and dedicated web developers in USA who are always ready to go above and beyond to meet your needs.
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('consulting')">more</a> </p> -->
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="about-col grow">
            <div class="img">
              <img src="assets/img/4.png" alt="" class="img-fluid">
              <!-- <div class="icon"><i class="ion-ios-list-outline"></i></div> -->
            </div>
            <h2 class="title"><a href="#">Our Processes</a></h2>
            <p>
                We follow a well-defined and systematic <b>web development process</b>
                that helps us deliver high-quality products within the stipulated time frame.
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('enterpriseapp')">more</a> </p> -->
          </div>
        </div>

        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col grow">
            <div class="img">
              <img src="assets/img/1.png" alt="" class="img-fluid">
              <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
            </div>
            <h2 class="title"><a href="#">Our Technologies</a></h2>
            <p>
                We use the latest and most advanced web development technologies to create feature-rich, scalable, and secure web applications.
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('architecture')">more</a> </p> -->

          </div>
        </div>

        <div class="col-md-4 grow" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/2.png" alt="" class="img-fluid">
              <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
            </div>
            <h2 class="title"><a href="#">Our Pricing</a></h2>
            <p>
                We offer highly competitive pricing without compromising on anything that lets you suffer from any hidden costs.
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('enterprise')">more</a> </p> -->

          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


</div>
</div>