<!-- ======= About Mission & Vision ======= -->
<section id="about">
    <div class="container" data-aos="fade-up" style="top: -65px;">
  
      <header class="section-header">
        <h3>Mission & Vision</h3>
  
      </header>
  
      <div class="row about-cols">
  
        <div class="col-sm-6" data-aos="fade-up" data-aos-delay="100">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Mission</a></h2>
            <p>
              To be a most preferred quality software development and resourcing partner throughout the world by providing
              quality services. Sigma increases its clients’ competitiveness by transforming its clients’ operations
              through understanding their needs and the competitive requirements of the industries in which they operate
              and designing an ICT(Information Communication and Technology) implementation and change management adoption
              path which takes into consideration clients’ evolving/developing ability to proactively utilize Sigma
              design and implemented ICT solutions.
            </p>
          </div>
        </div>
        <div class="col-sm-6" data-aos="fade-up" data-aos-delay="300">
          <div class="about-col">
            <div class="img">
              <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
              <div class="icon"><i class="ion-ios-eye-outline"></i></div>
            </div>
            <h2 class="title"><a href="#">Our Vision</a></h2>
            <p>
              To be a successful product and service oriented company globally by meet or exceed our customer needs and
              expectations by delivering cost effective, right quality and customer oriented technology solutions on
              time.Sigma vision is to be recognized internationally as the reference of knowledge and experience in
              effectively designing and implementing appropriate information and communication technology solutions and
              processes as an effective means to increase the competitiveness and efficiency of clients.
            </p>
          </div>
        </div>
  
  
  
      </div>
      <div class="container" ata-aos="fade-up">
        <h2 class="different">How Sigma Differs?</h2>
        <p>Our focus is on leveraging new technologies using proven and cost effective method for each client. Working
          with customers to achieve their business objectives is our highest priority.Continuous improvement is a mantra
          that every ‘Antronian’ is looking for, we use the best of patterns and practices in project execution and
          delivery, with minimum to no gap as target for all deliverables.</p>
      </div>
      <div class="container" ata-aos="fade-up">
        <h2 class="different">Striving for Excellence -In Sigma, work doesn't stop at delivery of services. We
          continuously</h2>
        <p>1. Improve our processes.<br>
          2. Improve skill sets of our workforce.<br>
          3. Increase our capabilities.</p>
      </div>
      <div class="container" ata-aos="fade-up">
        <h2 class="different">Technology Adaptability</h2>
        <p>We believe in adapting quickly to the changing environment and see every change and challenge as an opportunity
          to set us apart and distinguish ourselves. We are quick to adapt technology changes to manage a difficult
          environment, meeting different needs of customers, taking on wider job scopes, and rise to the occasion.</p>
      </div>
      <div class="container" ata-aos="fade-up">
        <h2 class="different">Customer Focus</h2>
        <p>We are gaining essential competitive advantage through our customer-focus processes. Our processes are
          systematically aligned with Customer Expectations and companywide business goals. Our success rate in Customer
          Gaining is more than forecasted.</p>
      </div>
  
    </div>
  </section>
  