<div class="iot-main-banner web-development-banner">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="ml-banner-content">
          <h1 class="text-white">Full Stack Development Company</h1>
          <p class="text-white">
            Being a globally renowned full stack development company, we have
            accumulated unrivaled experience in working with front-end as well
            as back-end technologies. Enhance the features and functionalities
            of your website with our end-to-end full stack development services
            under one roof.
          </p>

          <a
            class="btn btn-primary btn-cyan mt-4"
            href="http://localhost:4200/contact"
            >Get Started</a
          >
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mt-5 mt-lg-0">
        <img
          src="assets/img/fullstackSvg.svg"
          alt="web-development-banner"
          class="fullstackSvg"
        />
      </div>
    </div>

    <!-- ======= Our Offerings Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3 class="text-center" style="color: white">
            Why Sigma Technologies for Full Stack Development?
          </h3>
        </header>
        <p style="color: white">
          Sigma Technologies is a renowned Software development company
          known for offering Full stack solution refers to developing a seamless
          software product by combining the organizational vision with multiple
          tools and programming languages to achieve the organizational
          objectives. We have team of Full Stack developers who have developed
          full stack solutions for various industries like Finance and banking,
          health, sales and distribution, retail and marketing and a lot more.
          We offer highly skilled software engineering to the plethora of
          technologies from a simple static Front end web application to a
          high-performance and robust Back-end services and everything in
          between. We have a pool of immaculate software developers, database
          engineers, front-end software engineers, back-end developers, and
          operating system experts. We offer Software development outsourcing
          services, where Clients can hire full stack developers from us, who
          have proven track record of full stack development services including
          technologies and tools like C#,.NET, MEAN Stack, ReactJS, Angular.JS,
          Node.JS, and several others.
        </p>
        <div class="row about-cols">
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col grow">
              <div class="img">
                <img src="assets/img/3.png" alt="" class="img-fluid" />
                <!-- <div class="icon"><i class="ion-ios-speedometer-outline"></i></div> -->
              </div>
              <h2 class="title">
                <a href="#">Compliance with Quality Standards </a>
              </h2>
              <p style="color: white">
                We have a team of the most experienced, certified, and dedicated
                web developers in USA who are always ready to go above and
                beyond to meet your needs.
              </p>
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('consulting')">more</a> </p> -->
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col grow">
              <div class="img">
                <img src="assets/img/4.png" alt="" class="img-fluid" />
                <!-- <div class="icon"><i class="ion-ios-list-outline"></i></div> -->
              </div>
              <h2 class="title"><a href="#">One-stop solution provider</a></h2>
              <p style="color: white">
                Sigma Technologies is a one-stop solution provider in
                healthcare, travel or other industry. We are capable enough to
                collaborate to deliver high-end digital solution that adds value
                to your brand.
              </p>
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('enterpriseapp')">more</a> </p> -->
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col grow">
              <div class="img">
                <img src="assets/img/1.png" alt="" class="img-fluid" />
                <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
              </div>
              <h2 class="title">
                <a href="#">Stringent to project deadline</a>
              </h2>
              <p style="color: white">
                At Sigma Technologies, it is not just the product
                deliverance which matter. We always ensure that a high-quality
                product is delivered, that too within given timelines.
              </p>
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('architecture')">more</a> </p> -->
            </div>
          </div>

          <div class="col-md-4 grow" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/2.png" alt="" class="img-fluid" />
                <!-- <div class="icon"><i class="ion-ios-eye-outline"></i></div> -->
              </div>
              <h2 class="title"><a href="#">Adequate Technical Support</a></h2>
              <p style="color: white">
                We believe that actual work starts one the solution is
                delivered. We always ensure that our client is happy with our
                services and support.
              </p>
              <!-- <a class="common" style="color:blue;" (click)="navigatePages('enterprise')">more</a> </p> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->
  </div>
</div>
