.section-header h3 {
    font-size: 32px;
    color: rgb(17 126 162);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    margin-top: 84px;
}
#team{
    padding-top: 116px;
    margin-top: -80px!important;
    background: linear-gradient(180deg, #191a1a, #2480c7);
}