.btnLogin{
    border-radius: 15px;
    background-color: #2fc4ef
}

.btnSignup{
    border-radius: 15px;
    background-color: #2fc4ef
}
.signup{
    border-radius: 37px;
    width: 101px;
    height: 61px;
    background-color: #672fe5;
}