
<form (submit)="submit()" style="padding-top: 100px;">
    <div class="form-group col-xs-2">
      <label for="exampleInputEmail1">Email address</label>
      <input [formControl]="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group col-xs-2">
      <label for="exampleInputPassword1">Password</label>
      <input  [formControl]="password"  type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  