.container{
    margin-top: 3%;
    width: 400px;
    border: ridge 1.5px white;
    padding: 20px;

}

.background{
    padding-top: 100px;
    background: linear-gradient(180deg, #191a1a, #2480c7);
    }

    label{
        font-weight: bold
    }